/app.db
.env
*.db
*.sqlite
.idea/
__pycache__/
*.pyc
backups/*.sqlite
app/__pycache__/routes.cpython-313.pyc
app/word_templates/*
app/__pycache__/*
migrations/__pycache__/*
migrations/versions/__pycache__/*
instance/*

